@using CinemaApplication.Shared;

@if (Director is null || HandleValidSubmitAsync is null)
{
    <p>Loading...</p>
}
else
{
    <EditForm Model="@Director" OnValidSubmit="@HandleValidSubmitAsync">
        <DataAnnotationsValidator />
        <div class="mb0">
            <label class="col-form-label">Name</label>
            <InputText @bind-Value="@Director.Name" class="form-control" />
            <ValidationMessage For="() => Director.Name" />
        </div>
        <div class="mb0">
            <label class="col-form-label">Year of birth</label>
            <InputNumber @bind-Value="@Director.YearOfBirth" class="form-control" />
            <ValidationMessage For="() => Director.YearOfBirth" />
        </div>
        <div class="mb0">
            <label class="col-form-label">Nationality</label>
            <InputText @bind-Value="@Director.Nationality" class="form-control" />
            <ValidationMessage For="() => Director.Nationality" />
        </div>
        <table>
            <tr>
                <td><button style="margin-top:10px" type="submit" class="btn btn-primary form-control mb-3">@ButtonTitle</button></td>
            </tr>
        </table>
    </EditForm>
}

@code {
    [Parameter]
    public Director? Director { get; set; }

    [Parameter]
    public string? ButtonTitle { get; set; }

    [Parameter]
    public Func<Task>? HandleValidSubmitAsync { get; set; }
}
